.main-button {
    display: block;
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 700;
    padding: 0.8em 3em;
    background-color: $secondary2;
    border: none;
    border-radius: 0.5rem;
    color: $btn-white;
    text-transform: uppercase;
    cursor: pointer;
}
