.about {
    background-color: #fff;
    padding: 75px 0 120px;
}

.about-content {
    background-color: $primary;
    color: #fff;
    padding: 45px 85px;
    border-radius: 40px;

    &__title {
        max-width: 583px;
        margin-bottom: 36px;
    }

    &__text {
        margin-bottom: 36px;
        color: $neu-grey-14;
    }

    &__img {
        border-radius: 40px;
        overflow: hidden;
    }
}

.about-promises {
    margin-top: 110px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__item {
        flex-direction: row;
        align-items: flex-start;
        text-align: unset;
        flex-basis: calc(calc(830px - 100%) * 999);
        flex-grow: 1;
    }

    &__title {
        margin-bottom: 68px;
    }
}
