.hero {
    background: url(../img/hero-bg-blue.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__title {
        max-width: 583px;
        margin-bottom: 48px;
    }
}
